
DjangoGameHoard/DjangoGameHoard/__pycache__/__init__.cpython-310.pyc
DjangoGameHoard/DjangoGameHoard/__pycache__/settings.cpython-310.pyc
DjangoGameHoard/DjangoGameHoard/__pycache__/urls.cpython-310.pyc
*.pyc
