
DjangoGameHoard/DjangoGameHoard/__pycache__/__init__.cpython-310.pyc
DjangoGameHoard/DjangoGameHoard/__pycache__/settings.cpython-310.pyc
DjangoGameHoard/DjangoGameHoard/__pycache__/urls.cpython-310.pyc
*.pyc
StudentTrackingApp/.idea/misc.xml
StudentTrackingApp/.idea/modules.xml
StudentTrackingApp/.idea/StudentTrackingApp.iml
StudentTrackingApp/.idea/vcs.xml
StudentTrackingApp/.idea/inspectionProfiles/profiles_settings.xml
StudentTrackingApp/.idea/inspectionProfiles/Project_Default.xml
