{% extends 'checkbook_base.html' %}
{% block title %}Create New Account{% endblock %}
{% block content %}
	<h3>CREATE NEW ACCOUNT</h3>
	<div id="account-form">
		<form method="POST" action="{% url 'create'%}"> <!-- Replace this with the Django Form -->
			<!--Cross Site Request Forgery (csrf_token) Protection-->
           	{% csrf_token %}
           	{{ form.non_field_errors }}
           	{{ form.as_p }}      <!--Reference the context form, as a paragraph tag-->
			<button id="new-account-button" type="submit" name="Save_Account">Create Account</button>
			<br>
			<a href="{% url 'create' %}"><button type="button" class="otherbtn" value="Cancel">Cancel</button></a>
		</form>
	</div>
{% endblock %}