<!--BUT HOW DOES IT KNOW WHICH FORM/OBJECT TO CALL???-->
<!--This content is accessed by clicking on an element (button) in GH_index.html-->
<!--By using the django include tag, it's like this content is part of the GH_index document-->
<!--Therefore, the form and the function to create a record, is defined as part of the GH_index function in views.py-->
<!--JavaScript is used to show and hide this element as a modal pop up -->

<!--CREATE RECORD in Game DB-->
<div class="modal" id="add-item"> <!--JavaScript is used to show/hide this container: see gameHoard.js-->
    <div class="container center">
        <h1>Add a Game to your Library</h1>
        <h1>👾 🎲 🎮 </h1>
        <form method="POST">
            <!--Cross Site Request Forgery (csrf_token) Protection-->
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}      <!--Reference the context form, as a paragraph tag-->
            <div class="buttons">
                <!--The submit button MUST be INSIDE the form tag to work-->
                <button type="submit" class="submitBtn">Add to Library</button>
                <!--JavaScript is used to close this modal when clicked-->
                <button type="button" onclick="closeForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>