<!--BUT HOW DOES IT KNOW WHICH FORM/OBJECT TO CALL???-->
<!--This form is defined by action = a django url tag, which points to a 'shortcut' in urls.py, which points to a function in views.py-->
<!--The function to create a record is create_wishlist, defined in views.py-->
<!--By using the django include tag, it's like this content is part of the parent document-->
<!--And because it's being included INSIDE an iteration loop (in GH_read_soup and GH_read_api) it can access the django tags with each iteration's specific info -->
<!--This content is 'triggered' by clicking the submit element-->

<!-- CREATE RECORD in WISHLIST DB-->
<form method="POST" action="{% url 'WishList' %}" class="create_wishlist">
    {% csrf_token %}
    <input type="text" name="Name" value="{{ i.title }}">
    <input type="text" name="Thumb" value="{{ i.thumb }}">
    <input type="number" name="Price" value="{{ i.salePrice }}">
    <button type="submit">❤</button>
</form>